h1{
    color :aliceblue ;
}
 .zoom{
  position: sticky;
  top: 20vh;
  will-change: transform;
  transform: scale(2.2) ;
 }
video{
        display:block;
        margin-left:auto;
        margin-right: auto ;
    }
    
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins' , sans-serif;

}
    
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}



  .logo {
    font-size: 2em;
    color:aliceblue;
    user-select: none;
     text-align: left ;

    
  }
  
  .navigation a  {
    position: relative;
    font-size:1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }

  .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background:aliceblue;
    border-radius: 5px;
    transform-origin: right;
    transform:scaleX(0);
    transition:transform .5s;

  }
  .navigation a:hover::after{
    transform-origin: left;
    transform:scaleX(1);
  }

  .navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background:transparent;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:aliceblue;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
          }
 .navigation .btnLogin-popup:hover{
    background:aliceblue;
    color: #162938;
 }

/* Stiluri generale pentru corpul paginii */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Stiluri pentru antetul site-ului */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Stiluri pentru meniu */
nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Stiluri pentru conținutul principal */
main {
  padding: 20px;
}

/* Stiluri pentru secțiuni */
section {
  margin-bottom: 20px;
}

/* Stiluri pentru coloane */
.column {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Stiluri pentru dispozitivele mai mici - regiune de media queries */
@media screen and (max-width: 768px ) {
  /* Stiluri pentru meniu în cazul ecranelor mici */
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 5px 0;
  }

  /* Stiluri pentru secțiuni pe ecrane mici */
  section {
    text-align: center;
  }

  /* Stiluri pentru coloane pe ecrane mici */
  .column {
    width: 110%; height: 120px;;
  }
}




